<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="assets/styles/main.min.css" />
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
  <title>SSK Building</title>
</head>

<body>
  <header class="header">
    <div class="top_header">
      <div class="wrapper">
        <div class="logo">
          <a href="index.html"><img src="assets/img/home/logo.svg" alt="Logo" /></a>
        </div>
        <div class="top_nav_1">
          <ul class="nav">
            <li class="menu-item menu-item-has-children">
              <a href="#">Жилые комплексы</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a class="active" href="best.html">Лучший</a>
                </li>
                <li class="menu-item"><a href="#">Ракурс</a></li>
                <li class="menu-item"><a href="#">Поколение</a></li>
                <li class="menu-item"><a href="#">Свобода</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="about.html">О компании</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Условия приобретения</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="promotions.html">Акции</a></li>
                <li class="menu-item"><a href="mortgage.html">Ипотека</a></li>
                <li class="menu-item">
                  <a href="contribution.html">Рассрочка</a>
                </li>
                <li class="menu-item">
                  <a href="maternal-capital.html">Материнский капитал</a>
                </li>
                <li class="menu-item">
                  <a href="military-mortgage.html">Военная ипотека</a>
                </li>
              </ul>
            </li>

            <li class="menu-item"><a href="news.html">Новости</a></li>
            <li class="menu-item">
              <a class="click_nav" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="phone">
          <a href="tel:+7(499)00-00-000" class="phone_number">+7(499)00-00-000</a>
        </div>
        <div class="btn">
          <a class="btn_click popup-btn" href="#">Обратный звонок</a>
        </div>
      </div>
    </div>
  </header>

  <section class="top_header_news" style="background: url(assets/img/news/bg_news.jpg) center no-repeat;">
    <div class="wrapper">
      <div class="title_box">
        <h1 class="title">Новости компании</h1>
      </div>
    </div>
  </section>

  <div class="bread_crumbs">
    <div class="wrapper">
      <div class="item_active">
        <a href="#">Главная</a>
      </div>
      <span class="line"></span>
      <div class="item_active">
        <a href="#">Новости</a>
      </div>
      <span class="line"></span>
      <div class="item">
        <span>ЖК «Территория Счастья» получил заключение о соответствии!</span>
      </div>
    </div>
  </div>

  <section class="article">
    <div class="wrapper">
      <article>
        <h1 class="title_post">ЖК «Территория Счастья» получил заключение о соответствии!</h1>
        <div class="info_block">
          <span class="data">29 июня, 2020</span>
          <a href="javascript:history.go(-1)">Назад</a>
        </div>
        <p>Сегодня проблемный жилой комплекс «Территория Счастья» получил долгожданный для дольщиков документ —
          заключение о соответствии объекта строительства!</p>
        <img src="assets/img/news/1.jpg" alt="#">
        <p>По решению губернатора Краснодарского края Вениамина Ивановича Кондратьева в апреле 2019 года из краевого
        </p>
        <p>
          бюджета было выделено полтора миллиарда рублей на завершение домов, находящихся в высокой степени
          готовности. Всего было отобрано 5 таких объектов, одним из которых стал ЖК «Территория Счастья» на ул.</p>
        <p>
          Евгении Жигуленко, 3. Завершением строительства объекта занималась компания ССК. История комплекса берет
          свое начало в 2015 году. Именно тогда предыдущий застройщик объекта — холдинг, в который входили</p>
        <p>
          строительные компании «Счастье» и «Кубань Строй Стандарт», пообещали сдать дом в эксплуатацию. Сроки были
          перенесены на 2017 год, а в августе 2018 года в отношении строительной компании ООО «Кубань Строй Стандарт»
        </p>
        <p>
          была запущена процедура банкротства. Свое жилье дольщики 900 квартир ЖК «Территории счастья» не могли
          получить более трех лет. В 2018 строительство объекта было возобновлено компанией ССК. И вот июнь 2020 года
        </p>
        <p>
          стал знаковым месяцем для дольщиков объекта на ул. Евгении Жигуленко, 3. Теперь впереди только получение
          акта ввода и долгожданное новоселье.</p>
      </article>
    </div>
  </section>

  <section class="form_section" style="background: url(assets/img/home/bg_form.jpg) no-repeat center;">
    <div class="wrapper">
      <h2 class="title">Оставьте заявку на бесплатную консультацию!</h2>
      <p class="subtitle">
        Наш менеджер перезвонит вам в течение 15 минут <br />
        и ответит на все интересующие вас вопросы.
      </p>
      <form action="#">
        <div class="input_block">
          <input type="text" name="name" placeholder="Ваше имя..." required />
        </div>
        <div class="input_block">
          <input type="tel" name="phone" placeholder="Ваш телефон..." required />
        </div>
        <div class="submit_box">
          <div class="submit_block">
            <span class="arr_right"></span>
            <input type="submit" class="btn_click" value="Отправить заявку" />
          </div>
          <span class="on_click">Нажимая на кнопку вы соглашаетесь <br />с
            <a class="popup-btn-politic" href="#">политикой конфиденциальности</a>.</span>
        </div>
      </form>
    </div>
  </section>

  <section class="news_section">
    <div class="wrapper">
      <div class="box_title">
        <div class="title">
          <h2>Все наши публикации</h2>
        </div>
        <div class="news_navigation"></div>
      </div>
      <div class="container_news">
        <div class="item_new">
          <img src="assets/img/home/new1.jpg" alt="#" />
          <div class="info_box">
            <span class="data">29 июня, 2020</span>
            <a href="#" class="title_box">
              ЖК «Территория Счастья» получил заключение о соответствии!
            </a>
            <p class="subtitle_box">
              Сегодня проблемный жилой комплекс «Территория Счастья» получил
              долгожданный для дольщиков...
            </p>
            <a class="more" href="#">Читать дальше</a>
          </div>
        </div>
        <div class="item_new">
          <img src="assets/img/home/new2.jpg" alt="#" />
          <div class="info_box">
            <span class="data">27 июня, 2020</span>
            <a href="#" class="title_box">
              Компания ССК запустила новую программу «Переезд на юг»
            </a>
            <p class="subtitle_box">
              Рассматривая новые возможности для покупателей с северных
              регионов нашей страны, строительная компания...
            </p>
            <a class="more" href="#">Читать дальше</a>
          </div>
        </div>
        <div class="item_new">
          <img src="assets/img/home/new3.jpg" alt="#" />
          <div class="info_box">
            <span class="data">28 июня, 2020</span>
            <a href="#" class="title_box">
              Компания ССК открывает продажи нового жилого комплекса «Ракурс»
            </a>
            <p class="subtitle_box">
              Открыты продажи 1 и 2 литеров ЖК «Ракурс». «Ракурс» состоит из
              восьми 16-этажных литеров. Объект расположен...
            </p>
            <a class="more" href="#">Читать дальше</a>
          </div>
        </div>
        <div class="item_new">
          <img src="assets/img/home/new3.jpg" alt="#" />
          <div class="info_box">
            <span class="data">28 июня, 2020</span>
            <a href="#" class="title_box">
              Компания ССК открывает продажи нового жилого комплекса «Ракурс»
            </a>
            <p class="subtitle_box">
              Открыты продажи 1 и 2 литеров ЖК «Ракурс». «Ракурс» состоит из
              восьми 16-этажных литеров. Объект расположен...
            </p>
            <a class="more" href="#">Читать дальше</a>
          </div>
        </div>
      </div>
      <div class="btn">
        <a class="btn_click" href="#">Все новости</a>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer_box">
        <div class="info_box">
          <a href="index.html"><img src="assets/img/home/footer_logo.svg" alt="Footer Logo" /></a>
          <p class="text">
            Использование информации и контента сайта, возможно только при
            официальном разрешении компании «ССК». Любая информация,
            представленная на данном сайте, не является публичной офертой.
          </p>
        </div>
        <nav class="footer_nav_box">
          <ul class="footer_nav">
            <li class="menu-item menu-item-has-children">
              <a href="#">Жилые комплексы</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a class="active" href="#">Лучший</a>
                </li>
                <li class="menu-item"><a href="#">Ракурс</a></li>
                <li class="menu-item"><a href="#">Поколение</a></li>
                <li class="menu-item"><a href="#">Свобода</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Условия приобретения</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Акции</a></li>
                <li class="menu-item"><a href="#">Ипотека</a></li>
                <li class="menu-item"><a href="#">Рассрочка</a></li>
                <li class="menu-item"><a href="#">Материнский капитал</a></li>
                <li class="menu-item"><a href="#">Военная ипотека</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">О компании</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Новости</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Контакты</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="tel:+7 800 000-00-00">+7 800 000-00-00</a>
                </li>
                <li class="menu-item">
                  <a href="#">г. Краснодар, ул. Какая-то, 000</a>
                </li>
                <li class="menu-item">
                  <a href="mailto:info@sskuban.ru">info@sskuban.ru</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bottom_footer">
        <div class="left_box">
          <a class="popup-btn-politic" href="#">Политика конфиденциальности</a>
        </div>
        <div class="right_box">
          <ul>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-vk"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-telegram-plane"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-odnoklassniki"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="popup">
    <div class="popup-dialog">
      <div class="popup-content">
        <div class="popup-close">
          <span class="top_line"></span>
          <span class="bottom_line"></span>
        </div>
        <div class="title_box">
          <span class="title_section">Обратный звонок</span>
          <span class="sub_title_section">Заполните форму и наш менеджер свяжется с вами в течении 15
            минут</span>
        </div>
        <div class="form_block_popup">
          <form action="#">
            <div class="input_block">
              <input type="text" name="popup_name" placeholder="Ваше имя..." required />
            </div>
            <div class="input_block">
              <input type="tel" name="popup_phone" placeholder="Ваш телефон..." required />
            </div>
            <div class="submit_box">
              <div class="submit_block">
                <span class="arr_right"></span>
                <input type="submit" class="btn_click" value="Отправить заявку" />
              </div>
              <span class="on_click">Нажимая на кнопку вы соглашаетесь <br />с
                <a class="popup-btn-politic" href="#">политикой конфиденциальности</a>.</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="popup-ok">
    <!-- Само (белое) модальное окно -->
    <div class="popup-dialog">
      <!-- Содержимое модального окна -->
      <div class="popup-content">
        <div class="popup-close-ok">
          <span class="top_line"></span>
          <span class="bottom_line"></span>
        </div>
        <!-- Заголовок окна -->
        <div class="title_box">
          <span class="title_section" style="font-size: 36px; text-align: center;">Спасибо</span>
          <span class="sub_title_section" style="padding-left: 90px; padding-right: 90px;">Заявка успешно
            отправлена</span>
        </div>
        <div class="form_block_popup">
          <img class="img-ok" src="assets/img/popup-ok.svg" alt="ok" />
        </div>
      </div>
    </div>
  </div>

  <div class="popup-politic">
    <div class="wrappers">
      <div class="popup-content">
        <div class="popup-close-politic">
          <span class="top_line"></span>
          <span class="bottom_line"></span>
        </div>
        <div class="title_box">
          <span class="title_section">Политика конфиденциальности</span>
        </div>

        <div class="form_block_popup">
          <p>Пользователь сайта sskuban.ru (далее Пользователь)</p>
          <p>предоставляя свои персональные данные:</p>
          <div class="right_advant">
            <span class="title_advant">ИП: </span>Новичков А.И.,
          </div>
          <div>
            <div class="right_advant">
              <span class="title_advant">ИНН:</span> 526211378078,
            </div>
            <div>
              <div class="right_advant">
                <span class="title_advant">ОГРНИП: </span>31452572500031.
              </div>
            </div>
          </div>
          <p>г. Нижний Новгород, ул. Интернациональная, 100,</p>
          <p>электр. адрес: lest52monolit@gmail.com,</p>
          <p>телефон: +7(930)283-50-65</p>
          <p>(далее Продавец)</p>
          <p>
            дает согласие на обработку, хранение и использование своих
            персональных данных
          </p>
          <p>
            на основании ФЗ No 152-ФЗ «О персональных данных» от 27.07.2006 г.
            в следующих целях:
          </p>
          <p>&nbsp;</p>
          <p>• Регистрации Пользователя на сайте;</p>
          <p>• Осуществление клиентской поддержки;</p>
          <p>
            • Получения Пользователем информации о маркетинговых событиях;
          </p>
          <p>• Выполнение Продавцом обязательств перед Покупателем.</p>
          <p>&nbsp;</p>
          <p>
            Под персональными данными подразумевается любая информация личного
            характера, позволяющая установить личность Покупателя такая как:
          </p>
          <p>&nbsp;</p>
          <p>• Фамилия, Имя, Отчество;</p>
          <p>• Контактный телефон;</p>
          <p>• Адрес электронной почты;</p>
          <p>• Почтовый адрес.</p>
          <p>&nbsp;</p>
          <p>
            Персональные данные Покупателей хранятся исключительно на
            электронных носителях
          </p>
          <p>
            и обрабатываются с использованием автоматизированных систем, за
            исключением случаев,
          </p>
          <p>
            когда неавтоматизированная обработка персональных данных
            необходима в связи с исполнением требований законодательства.
            Продавец обязуется не передавать полученные персональные данные
            третьим лицам, за исключением следующих случаев:
          </p>
          <p>&nbsp;</p>
          <p>
            • По запросам уполномоченных органов государственной власти РФ
            только по основаниям и в порядке, установленным законодательством
            РФ;
          </p>
          <p>
            • Стратегическим партнерам, которые работают с Продавцом для
            предоставления продуктов и услуг, или тем из них, которые помогают
            Продавцу реализовывать продукты и услуги потребителям.
          </p>
          <p>&nbsp;</p>
          <p>
            Мы предоставляем третьим лицам минимальный объем персональных
            данных, необходимый только для оказания требуемой услуги или
            проведения необходимой транзакции.
          </p>
          <p>
            Продавец оставляет за собой право вносить изменения в
            одностороннем порядке в настоящие правила, при условии, что
            изменения не противоречат действующему законодательству РФ.
          </p>
          <p>
            Изменения условий настоящих правил вступают в силу после их
            публикации на Сайте.
          </p>
          <!-- wp:heading -->
          <!-- /wp:heading -->
        </div>
      </div>
    </div>
  </div>

  <script src="assets/scripts/jquery-3.5.1.min.js"></script>
  <script src="assets/scripts/slick.min.js"></script>
  <script src="assets/scripts/jquery.magnific-popup.min.js"></script>
  <script src="assets/scripts/jqueryScript.js"></script>
</body>

</html>