body {
	line-height: 1;
	color: #020202;
	font-style: normal;
	font-weight: 400;
	@include OpenSans_font();
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (max-width: 1250px) {
		max-width: 960px;
	}

	@media (max-width: 992px) {
		max-width: calc(758px-20px);
	}

	@media (max-width: 768px) {
		max-width: calc(596px-20px);
	}

	@media (max-width: 606px) {
		max-width: 386px;
	}

	@media (max-width: 416px) {
		width: calc(100%-30px);
		padding-left: 0;
		padding-right: 0;
	}
}

a {
	color: #020202;
	outline: none;
}